<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="com.pj.planbee.mapper.TDdetailMapper"> <!-- 여기가 사용할 매퍼를 연결해주는 역할, 경로주의 -->
	<resultMap type="com.pj.planbee.dto.TDdetailDTO" id="tddetail">
		<id property="tdDetailId" column="tododetail_id" /> <!-- PK로 지정한 것은 id로 받아준다 -->
		<result property="tdDetail" column="tododetail" />
		<result property="tdDetailState" column="tododetail_state" />
		<result property="tdDetailTime" column="tododetail_time"/>
		<result property="tdId" column="todo_id" />
		
	</resultMap>
	<!-- 전체 가져오는 테스트 기능, 성공 -->
	 <select id="getList" resultMap ="tddetail">
    	select * from ToDoList_Detail
    	
    </select>
    
    <select id="getLatest">
    	select last_insert_id()
    </select>
    
    <!-- TodoId에 따라 하나를 가져오는 기능, 성공 -->
    <select id="getTodo" resultMap ="tddetail">
    	select * from ToDoList_Detail where todo_id=#{tdId}
    	<!-- 입력날짜 빠른 순으로 정렬 -->
    </select>
    
    <insert id="todoWrite"> 
<!-- 투두디테일 작성하는 부분, 이 자료형으로는 성공
    자동으로 숫자 올라가는 부분, 날짜자료형 두 가지, 맨마지막 숫자 어떻게 할지 조정이 필요함 -->
    	insert into ToDoList_Detail (tododetail, tododetail_state, tododetail_time, todo_id) 
    	values (#{tdDetail}, 0, #{tdDetailTime}, #{tdId});
    </insert>
    
    <update id="updateState">
	<!-- 완료현황만 업데이트 하는 기능, 성공 -->
    	update ToDoList_Detail set tododetail_state=#{state} where tododetail_id=#{tdDetailId}
    </update>
    
    <update id="todoModify">
<!--  수정하는 기능.. 수정필요 -->
    	update ToDoList_Detail set tododetail=#{tdDetail}, tododetail_time=#{tdDetailTime}, tododetail_state=#{tdDetailState} where tododetail_id=#{tdDetailId}
    </update>
    
    <delete id="todoDel">
    <!-- 투두디테일 삭제하는 기능, 성공 -->
    	delete from ToDoList_Detail where tododetail_id=#{tdDetailId}
    </delete>
    
    <!-- 진척도 보기 위해서 완료된 행의 숫자와 전체 행의 숫자를 가져오는 기능 -->
    <select id="getComplete"> 
    	select count(*) from ToDoList_Detail where todo_id=#{todoId} and tododetail_state =1 
    </select>
    
    <select id="getTotal">
    	select count(*) from ToDoList_Detail where todo_id=#{todoId}
    </select>
    
</mapper>