.banner_container {
  width: 100%;
  height: 104px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  background-color: #121212;
}
.banner_logo {
  color: #f4cc3a;
  height: 104px;
  font-size: 64px;
  font-weight: bold;
  align-items: center;
}
.banner_btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 450px;
}
.banner_username {
  font-size: 24px;
  color: #fefcfc;
}
.banner_logout {
  width: 215px;
  height: 63px;
  background-color: #f4cc3a;
  border-radius: 40px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}
