.banner_container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  background-color: #121212;
  border-bottom-left-radius: 30px;
}
.banner_logo img {
  width: 60px;
  height: 46px;
}
.banner_btn {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 450px;
}
.banner_username {
  font-size: 24px;
  color: #fefcfc;
}
.banner_logout {
  width: 180px;
  height: 52px;
  cursor: pointer;
  background-color: #f4cc3a;
  border-radius: 40px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}
