.fc-day-today {
  background-color: rgb(
    255,
    255,
    255
  ) !important; /* 현재 배경보다 조금 더 진한 회색 */
}
/* 셀 내 다른 요소의 크기 조정 */
.custom_cell {
  display: flex;
  flex-direction: column; /* 세로 배치 */
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.date {
  font-size: 12px; /* 날짜 텍스트 크기 줄이기 */
  width: 100%;
  font-weight: bold;
  text-align: right;
  padding: 5px;
}

.progress {
  width: 100%; /* 진행 바 크기 줄이기 */
  height: 100%; /* 진행 바 높이 줄이기 */
  border-radius: 2px;
}

.memo {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* 간격 균등 분배 */
  width: 100%;
  height: 75%; /* 날짜 부분을 제외한 나머지 */
}
.memo_item {
  text-align: left;
  font-size: 0.9em;
  padding: 2px;
}
