/* 공통 css */
.max_streak,
.current_streak {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.max_streak h3,
.current_streak h3 {
  width: 350px;
  height: 30px;
  text-align: center;
}
/* maxStreak 관련 css */
.max_streak {
  height: 270px;
  width: 350px;
}
.max_streak_days {
  background-color: #fefcfc;
  height: 125px;
  width: 350px;
  border-radius: 40px;
}
/* curStreak 관련 css */
.current_streak {
  height: 400px;
  width: 350px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.current_streak_days {
  background-color: #fefcfc;
  height: 225px;
  width: 350px;
  border-radius: 40px;
}
.current_streak_comment {
  width: 225px;
  height: 50px;
  border-radius: 28px;
  background-color: #fefcfc;
}
