.todolist {
  width: 618px;
  height: 750px;
}
.todolist_index {
  height: 70px;
  font-size: 36px;
  padding-left: 30px;
  margin-top: 10px;
  font-weight: 550;
}
.todolist_content {
  width: 618px;
  height: 640px;
  background-color: #fefcfc;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 상단부터 배치 */
  align-items: center;
  overflow: hidden; /* 크기 초과 방지 */
}
.todolist_checkbox {
  height: 350px;
  width: 500px;
}
.todolist_checkbox tbody {
  display: block;
  height: 350px; /* tbody 크기를 table과 맞춤 */
  overflow-y: auto; /* 스크롤 추가 */
}
.todolist_checkbox tr {
  font-size: 20px;
}
.todolist_checkbox td:first-child {
  width: 20px;
}
.todolist_checkbox td:nth-child(2) {
  width: 300px;
}
.todolist_checkbox td:nth-child(3) {
  width: 50px;
}
.todolist_checkbox td:nth-child(4) {
  width: 120px;
  text-align: end;
  position: relative;
}
/* 드롭다운 메뉴 */
.dropdown-menu {
  display: none; /* 기본적으로 숨겨둡니다 */
  position: absolute;
  top: 100%; /* 버튼 바로 아래로 위치 */
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 60px;
  border-radius: 5px;
  z-index: 1000;
  list-style-type: none;
  padding: 0; /* 여백 제거 */
}

td .dropdown-menu {
  display: block; /* 클릭 시 메뉴가 보이도록 */
}

/* 드롭다운 항목 스타일 */
.dropdown-menu button {
  width: 100%; /* 버튼을 가로로 확장 */
  padding: 10px;
  border: 1px solid #ddd;
  background-color: white;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}

.todolist_memo {
  height: 200px;
  width: 580px;
  border-radius: 30px;
  background-color: #efefef;
  padding: 20px;
}
.tdMemo_textarea {
  width: 530px;
  height: 100px;
  padding: 10px;
  resize: none;
  font-size: 14px;
  line-height: 1.5;
}
.tdMemo_btn_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 8px;
}
.add_tdDetail {
  width: 100%;
  height: 40px;
  background-color: #efefef;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.add-schedule-btn:hover {
  background-color: darkgray;
}
.plus_btn {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #cccccc;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}
