.todolist_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.todo_progress {
  width: 122px;
  height: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todo_percent {
  height: 70px;
  font-size: 32px;
  margin-top: 10px;
  padding-top: 20px;
  color: #2c2c2c;
}
.todo_bar {
  height: 640px;
  width: 100%;
  background-color: #fefcfc;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: end;
  align-items: center;
}
.todo_bar_ex {
  width: 100%;
  border-radius: 30px;
  z-index: 10;
}

.todo_save_btn {
  height: 100px;
  width: 100%;
  border-radius: 40px;
  background-color: #fefcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}
