<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 아래 예시입니다 지우고 사용하세요 -->
<mapper namespace="com.pj.planbee.mapper.TodoListMapper"> <!-- 여기가 사용할 매퍼를 연결해주는 역할, 경로주의 -->
	<resultMap type="com.pj.planbee.dto.todoListDTO" id="todolist">
		<id property="tododetailid" column="tododetailid" /> <!-- PK로 지정한 것은 id로 받아준다 -->
		<result property="tododate" column="tododate" />
		<result property="todo" column="todo" />
		<result property="todostatement" column="todostatement"/>
		<result property="tododeadline" column="tododeadline" />
		<result property="todoid" column="todoid" />
		
	</resultMap>
	

</mapper>