<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.planbee.mapper.TodoMapper">

	<resultMap type="com.pj.planbee.dto.TodoDTO" id="todolist">
		<id property="todoId" column="todo_id" />
		<result property="todoDate" column="todo_date" />
		<result property="todoMemo" column="todo_memo" />
		<result property="todoProgress" column="todo_progress" />
		<result property="userId" column="user_id" />
	</resultMap>


	<select id="selectTodoByDate" resultMap="todolist">
		SELECT * FROM todolist
		WHERE user_id = #{userId}
		AND todo_date = #{todoDate}
	</select>

	<select id="existsTodoByDate" resultType="int">
		SELECT COUNT(*) FROM todolist
		WHERE user_id = #{userId}
		AND todo_date = #{todoDate}
	</select>

	<insert id="insertTodoForDate">
		INSERT INTO todolist (todo_date, todo_memo, todo_progress, user_id)
		VALUES (#{todoDate}, '', 0, #{userId})
	</insert>


	<select id="selectTodoById" resultMap="todolist">
		SELECT * FROM todolist WHERE todo_id = #{todoId}
	</select>

	<update id="updateTodoMemo">
		UPDATE todolist SET todo_memo = #{todoMemo} WHERE todo_id = #{todoId}
	</update>

	<insert id="insertTodo">
		INSERT INTO todolist (todo_date, todo_memo, todo_progress)
		VALUES (#{todoDate}, #{todoMemo}, #{todoProgress})
	</insert>

	<delete id="deleteTodo">
		DELETE FROM todolist WHERE todo_id = #{todoId}
	</delete>


</mapper>
